.infoCardContainer--infoCardTienda{
    height: 700px;
}

.infoCardContainer--infoCardProductLink{
    height: 500px;
}

.imageElement--cover {
    object-fit: cover;
  }


/* .flexRowContent--main-header {
    height: 900px;
    padding-top: 10px;
  } */